:root {
  font-size: 62.5%;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font: inherit;
  margin: 0;
}

body {
  background-color: aquamarine;
}

.grid-container {
  height: 900px;
  width: 900px;
  display: grid;
  grid-template: repeat(16, 1fr) / repeat(16, 1fr);
  background-color: rgb(212, 212, 212);


}

.square {
  user-select: none;
}
