:root {
  font-size: 62.5%;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font: inherit;
  margin: 0;
}

p {
  font-size: 2.5rem;
}
body {
  background-color: aquamarine;
}

.canvas {
  height: 600px;
  width: 600px;
  display: grid;
}

.btn {
  font-size: 3rem;
  padding: 5px;
}

.color-picker {
  height: 50px;
}

.square {
  user-select: none;
}
