:root {
  font-size: 62.5%;
  font-family: arial;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font: inherit;
  margin: 0;
}

p {
  font-size: 2.5rem;
}

body {
  background-color: #007F82;
}

.window-container {
  /* height: 100vh;
  width: 100vw; */
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

.window {
  height: 800px;
  width: 800px;
  background-color: #BDBDBD;
  padding: 5px;
  box-shadow: 0px 0px 20px black;
}

/* HEADER */
.header {
  height: 35px;
  width: 100%;
  background-color: #02007F;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  user-select: none;
}

.header-left {
  display: flex;
  align-items: center;
}

.header-icon {
  height: 28px;
  width: 28px;
  background-color: white;
  margin-right: 5px;
}

.header-filename {
  color: white;
  font-weight: 600;
  font-size: 1.6rem;
}

.header-right {
  display: flex;
}

.header-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  font-size: 2.2rem;
  width: 25px;
  background-color: #BDBDBD;
  margin: 2px;
}


/* MENU BAR */
.menu-bar {
  height: 25px;
  display: flex;
  font-size: 1.6rem;
  margin-top: 5px;
  margin-left: 10px;
  gap: 10px;
  user-select: none;
}


.main-container {
  display: flex;
  padding: 10px;
  justify-content: space-between;
}

/* TOOLBAR */
.toolbar {
  display: grid;
  grid-template-columns: auto auto;
  row-gap: 2px;
  column-gap: 2px;
  background-color: lightgrey;
}

.tool-btn {
  width: 40px;
  height: 40px;
  border: none;
  background-color: #BDBDBD;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  border-left: 2px solid #F9F9F9;
  border-top: 2px solid #F9F9F9;
}

.tool-btn.active {
  background-color: #E1E1E1;
  border-right: 2px solid #919191;
  border-bottom: 2px solid #919191;
  border-left: 2px solid black;
  border-top: 2px solid black;
}


.canvas {
  width: 670px;
  height: 670px;
  display: grid;
  background-color: lightgrey;
  border: 1px solid black;
}

.canvas.grid {
  gap: 1px;
}

.btn {
  font-size: 3rem;
  padding: 5px;
}

.color-picker {
  height: 50px;
}

.square {
  user-select: none;
}