:root {
  font-size: 62.5%;
  font-family: arial;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font: inherit;
  margin: 0;
}

p {
  font-size: 2.5rem;
}

body {
  background-color: #007F82;
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.window {
  height: 800px;
  width: 800px;
  background-color: #BDBDBD;
  padding: 5px;
  box-shadow: 0px 0px 20px black;
}

.header {
  height: 35px;
  width: 100%;
  background-color: #02007F;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-left {
  display: flex;
  align-items: center;
}
.header-icon {
  height: 28px;
  width: 28px;
  background-color: white;
  margin-right: 5px;
}

.header-filename {
  color: white;
  font-weight: 600;
  font-size: 1.6rem;
}

.header-right {
  display: flex;
}

.header-btn {
  height: 25px;
  width: 25px;
  background-color: #BDBDBD;
  margin: 2px;
}

.canvas {
  height: 600px;
  width: 600px;
  display: grid;
  background-color: lightgray;
}

.canvas.grid {
  gap: 1px;
}

.btn {
  font-size: 3rem;
  padding: 5px;
}

.color-picker {
  height: 50px;
}

.square {
  user-select: none;
}