:root {
  font-size: 62.5%;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font: inherit;
  margin: 0;
}

.grid {
  border: 2px solid red;
  background-color: blue;
  height: 500px;
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 1px;
  
}

.row {
  display: flex;
  gap: 1px;
}

.square {
  background-color: yellowgreen;
}