:root {
  font-size: 62.5%;
  font-family: arial;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font: inherit;
  margin: 0;
}

body {
  background-color: #007F82;
}

.window-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.window {
  height: 775px;
  width: 800px;
  background-color: #BDBDBD;
  padding: 5px;
  box-shadow: 0px 0px 20px black;
  border-left: 2px solid #cfcfcf;
  border-top: 2px solid #cfcfcf;
}

.popup-btn {
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  border-left: 2px solid #F9F9F9;
  border-top: 2px solid #F9F9F9;
}

.popup-btn:hover {
  background-color: #E1E1E1;
}

.popup-btn:active {
  background-color: #E1E1E1;
  border-right: 2px solid #F9F9F9;
  border-bottom: 2px solid #F9F9F9;
  border-left: 2px solid black;
  border-top: 2px solid black;
}

/* TITLEBAR */
.titlebar {
  height: 35px;
  width: 100%;
  background-color: #02007F;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  user-select: none;
}

.titlebar-left {
  display: flex;
  align-items: center;
}

.titlebar-icon {
  height: 25px;
  width: 25px;
  background-image: url("img/titlebar_logo.png");
  background-size: cover;
  margin-right: 5px;
}

.titlebar-filename {
  color: white;
  font-weight: 600;
  font-size: 1.6rem;
}

.titlebar-right {
  display: flex;
}

.titlebar-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  font-size: 2.2rem;
  width: 25px;
  background-color: #BDBDBD;
  margin: 2px;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  border-left: 2px solid #F9F9F9;
  border-top: 2px solid #F9F9F9;
}

.titlebar-btn img {
  width: 16px;
}


/* MENU BAR */
.menu-bar {
  height: 25px;
  display: flex;
  font-size: 1.6rem;
  margin-top: 7px;
  margin-left: 10px;
  gap: 10px;
  user-select: none;
}


.main-container {
  display: flex;
  padding: 0px 10px 10px 10px;
  justify-content: space-between;
}

.sidebar {
  width: 80px;
  font-size: 1.3rem;
}

/* TOOLBAR */
.toolbar {
  display: grid;
  padding-top: 5px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 40px);

}

.tool-btn {
  background-color: #BDBDBD;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tool-btn.active {
  background-color: #E1E1E1;
  border-right: 2px solid #F9F9F9;
  border-bottom: 2px solid #F9F9F9;
  border-left: 2px solid black;
  border-top: 2px solid black;
}

.tool-icon {
  height: 20px;
  width: 20px;
}

.color-picker {
  height: 40px;
}

/* OPTIONS */
.options {
  margin-top: 40px;
}

.color-pickers {
  display: flex;
  margin-bottom: 40px;
}

.color-picker:hover {
  background-color: #E1E1E1;
}

.color-picker:active {
  background-color: #E1E1E1;
}

.option-btn {
  width: 80px;
  height: 40px;
  font-weight: bold;
}

.pencil-slider-text {
  margin-top: 40px;
}

.slider {
  margin-top: 5px;
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  background: #d3d3d3;
  outline: none;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 10px;
  background: #02007F;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 20px;
  height: 10px;
  background: #02007F;
  cursor: pointer;
}

/* CANVAS */

.canvas {
  width: 670px;
  height: 670px;
  display: grid;
  background-color: lightgrey;
  border: 2px solid black;
}

.canvas.grid {
  gap: 1px;
}

.footer {
  text-align: center;
}

.footer a {
  color: #02007F;
}

.square {
  user-select: none;
}